@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Righteous&family=Roboto&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
font-family: Roboto;
color: white;
}

.App {
  background-color: #2F3247;
}
